/* Importing Google Fonts */
/* Inter font for general text and Macondo for headings or special text */
/*Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*Macondo*/
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

/* Global Styles */
/*Setting varaibles for colors and fonts*/
:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: "Macondo", cursive;   
    --primary-color: #402f2a;    /*brown*/ 
    --secondary-color: #aa9581;    /*a light brown color */
    --highlight-color: #416a8e;    /* blue for highlights */
    --light-highlight-color: #7a9fc2;    /*a very light blue*/

}

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-transform: uppercase;
}

.sub-heading-colour {

    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom:2rem;
}

/*navbar custom styles*/

#navbar {
    background-color: var(--primary-color);
}

.navbar-brand .logo {
    width: 30px;
}

/***    header styles***/
#header .lead {
        font-family: var(--secondary-font);
}



    /*grid visualization css for testing*/

.row {
    border: 2px solid black;
}
.col-12 {
    border:2px solid white;
    background-color: lightgray;
}