/* Importing Google Fonts */
/* Inter font for general text and Macondo for headings or special text */
/*Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*Macondo*/
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

/* Global Styles */
/*Setting varaibles for colors and fonts*/
:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #402f2a;
    /*brown*/
    --secondary-color: #aa9581;
    /*a light brown color */
    --highlight-color: #407fb7;
    /* blue for highlights */
    --light-highlight-color: #7a9fc2;
    /*a very light blue*/

}

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);

}

h1,
h2 {
    text-transform: uppercase;
}

.sub-heading-color {

    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-footer {
    color: var(--highlight-color);
    background-color: transparent;
    font-weight: bold;
}

/*navbar custom styles*/

#navbar {
    background-color: var(--primary-color);
}

.navbar-brand .logo {
    width: 30px;
}

/****    header styles****/
#header .lead {
    font-family: var(--secondary-font);
}

/***services section styles***/
#services .card {
    margin-bottom: 1rem;
}

/*++++++++++++++++ Games page styles +++++++++++++++++++++++*/
/*removing borders from game cards*/
#new-games .card,
#favorite-games .card {
    border:none;
}

#new-games .card-footer,
#favorite-games .card-footer {
    border-top:none;
    color:black;
    font-weight: normal;
}

#new-games .card,
#favorite-games .card {
    margin-bottom: 1rem;
}



/*************************************************/

/*************Media query:tablets and larger(768px and up)*/
@media screen and (min-width:768px) {

    /*services section styles*/
    #services .card-body {

        min-height: 191px;
    }
}




/*************************************************/
/*************Media query:tablets and larger(1200px and up)*/
@media screen and (min-width:1200px) {

    /*services section styles*/
    #services .card-body {

        min-height: 220px;
    }


}

/*************************************************/
/*************Media query:tablets and larger(1400px and up)*/
@media screen and (min-width:1400px) {

    /*services section styles*/
    #services .card-body {

        min-height: 190px;
    }

   
}