/* Importing Google Fonts */
/* Inter font for general text and Macondo for headings or special text */
/*Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*Macondo*/
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

/* Global Styles */
/*Setting varaibles for colors and fonts*/
:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: "Macondo", cursive;   
    --primary-color: #416a8e;    /*blue*/ 
    --secondary-color: #aa9581;    /*a light brown color */
    --highlight-color: #416a8e;    /*a darker blue for highlights */
    --light-highlight-color: #7a9fc2;    /*a very light blue*/

}

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color)
}

.sub-heading-colour {

    color: var(--highlight-color);
}